* {
    padding: 0px;

}

.container {

    display: grid;
    grid-template-columns:repeat(5,50px);
    grid-template-rows: 100px 100px 100px;
}

.item-1 {
    background-color: rgb(1, 231, 154);
    grid-row:1/4;
    grid-column: 1/90;
}

.item-2 {
    background-color: blueviolet;
    grid-column: ;
}

.item-3 {
    background-color: rgb(245, 214, 147);
}

<section class="banner">
                <img src="assets img/download.png" alt="Gato fotogenico do banner">
                <p class="texto-foco">Adote um gatinho, Ganhe um Amigo pra Vida</p>
                <p class="texto-secundário">Leve um Amor pra Casa</p>
            </section>


(max-width:768px)


/* --cor-pricipal: #bee9e8ff; */
    /* --cor-segundaria: #62b6cbff;
    --cor-terciaria: #1b4965ff;
    --destaque: #cae9ffff;
    --destaque-escuro: #5fa8d3ff;
 */


@media screen and (max-width: 430px) {
    .banner {
        display: flex;
        flex-direction: column;
        width: 430px;
    }

    .banner2 {
        display: flex;
        flex-direction: column;
        width: 430px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }
}